<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Criado em</th>
      <th class="col-md-3" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <%= render @movie_genre %>
  </tbody>
</table>



<div>
  <%= link_to "Editar", edit_movie_genre_path(@movie_genre) %> |
  <%= link_to "Voltar", movie_genres_path %>

  <%= button_to "Excluir", @movie_genre, method: :delete %>
</div>
